{% extends "base.html" %}

{% block title %}
  Login
{% endblock title %}

{% block body %}
 <center>
    <form action="{% url 'user_login' %}" method="post">
        {% csrf_token %}
        <label for="un" >User name:</label>
        <input type="text" name="un" id="un"><br><br>
        <label for="pw" >Password:</label>
        <input type="text" name="pw" id="pw"><br><br>

        <button type="submit" value="login">Login</button>
        <a href="{% url 'forgetpassword' %}">forgetpassword</a>
    </form>
 </center> 
{% endblock body %}
